@using PagedList;
@using PagedList.Mvc;

@model PagedList.IPagedList<DangThanhTu_2122110051.Context.Order>

@{
    ViewBag.Title = "Index";
}
<div style="padding: 0 5px 0 5px;">

    <h2>Danh sách đơn hàng</h2>

    @*<p>
        @Html.ActionLink("Tạo mới", "Create", null, new { @class = "btn btn-success btn-sm" })
    </p>*@

    @using (Html.BeginForm("Index", "Order", FormMethod.Get))
    {
        <p>
            Tìm tên người giao hàng: @Html.TextBox("SearchString", Request.QueryString["SearchString"])
            <input type="submit" value="Tìm kiếm" />
        </p>
    }

    <table class="table">
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.FirstOrDefault().Delivery_name)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.FirstOrDefault().Delivery_gender)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.FirstOrDefault().Delivery_email)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.FirstOrDefault().Delivery_phone)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.FirstOrDefault().Delivery_address)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.FirstOrDefault().Note)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.FirstOrDefault().Type)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.FirstOrDefault().Status)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.FirstOrDefault().User.LastName)
            </th>
            <th></th>
        </tr>

        @foreach (var item in Model)
        {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.Delivery_name)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Delivery_gender)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Delivery_email)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Delivery_phone)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Delivery_address)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Note)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Type)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Status)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.User.LastName)
                </td>
                <td>
                    @*@Html.ActionLink("Sửa", "Edit", new { id = item.Id }, new { @class = "btn btn-primary btn-sm" })*@
                    @Html.ActionLink("Chi tiết", "Index", "Orderdetail", new { orderId = item.Id }, new { @class = "btn btn-info btn-sm" })

                    @Html.ActionLink("Xóa", "Delete", new { id = item.Id }, new { @class = "btn btn-danger btn-sm" })
                </td>
            </tr>
        }
    </table>

    <!-- Phân trang -->
    <nav aria-label="Page navigation example">
        <ul class="pagination">
            <li class="page-item @(Model.HasPreviousPage ? "" : "disabled")">
                <a class="page-link" href="@Url.Action("Index", new { page = Model.PageNumber - 1, currentFilter = ViewBag.CurrentFilter })" aria-label="Previous">
                    <span aria-hidden="true">&laquo;</span>
                    <span class="sr-only">Previous</span>
                </a>
            </li>

            @for (int i = 1; i <= Model.PageCount; i++)
            {
                <li class="page-item @(i == Model.PageNumber ? "active" : "")">
                    <a class="page-link" href="@Url.Action("Index", new { page = i, currentFilter = ViewBag.CurrentFilter })">@i</a>
                </li>
            }

            <li class="page-item @(Model.HasNextPage ? "" : "disabled")">
                <a class="page-link" href="@Url.Action("Index", new { page = Model.PageNumber + 1, currentFilter = ViewBag.CurrentFilter })" aria-label="Next">
                    <span aria-hidden="true">&raquo;</span>
                    <span class="sr-only">Next</span>
                </a>
            </li>
        </ul>
    </nav>
</div>
