@model IEnumerable<DangThanhTu_2122110051.Context.Product>

@{
    ViewBag.Title = "ProductByCategoryId";
}
<!-- ========================= SECTION CONTENT ========================= -->
<section class="section-content padding-y">
    <div class="container">

        <!-- ============================  FILTER TOP  ================================= -->
        <div class="card mb-3">
            <div class="card-body">
                <div class="row">
                    <div class="col-md-2"> Bạn đang ở đây: </div> <!-- col.// -->
                    <nav class="col-md-8">
                        <ol class="breadcrumb">
                            <li class="breadcrumb-item"><a href="#">Trang chủ</a></li>
                            <li class="breadcrumb-item"><a href="#">Tên danh mục</a></li>
                            <li class="breadcrumb-item"><a href="#">Danh mục phụ</a></li>
                            <li class="breadcrumb-item active" aria-current="page">Sản phẩm</li>
                        </ol>
                    </nav> <!-- col.// -->
                </div> <!-- row.// -->
                <hr>
                <div class="row">
                    <div class="col-md-2">Lọc theo</div> <!-- col.// -->
                    <div class="col-md-10">
                        <ul class="list-inline">
                            <li class="list-inline-item mr-3 dropdown">
                                <a href="#" class="dropdown-toggle" data-toggle="dropdown">   Loại nhà cung cấp </a>
                                <div class="dropdown-menu p-3" style="max-width:400px;">
                                    <label class="form-check">
                                        <input type="radio" name="myfilter" class="form-check-input"> Nhà cung cấp tốt
                                    </label>
                                    <label class="form-check">
                                        <input type="radio" name="myfilter" class="form-check-input"> Nhà cung cấp tốt nhất
                                    </label>
                                    <label class="form-check">
                                        <input type="radio" name="myfilter" class="form-check-input"> Nhà cung cấp mới
                                    </label>
                                </div> <!-- dropdown-menu.// -->
                            </li>
                            <li class="list-inline-item mr-3 dropdown">
                                <a href="#" class="dropdown-toggle" data-toggle="dropdown">  Quốc gia </a>
                                <div class="dropdown-menu p-3">
                                    <label class="form-check">
                                        <input type="checkbox" class="form-check-input"> Trung Quốc
                                    </label>
                                    <label class="form-check">
                                        <input type="checkbox" class="form-check-input"> Nhật Bản
                                    </label>
                                    <label class="form-check">
                                        <input type="checkbox" class="form-check-input"> Uzbekistan
                                    </label>
                                    <label class="form-check">
                                        <input type="checkbox" class="form-check-input"> Nga
                                    </label>
                                </div> <!-- dropdown-menu.// -->
                            </li>
                            <li class="list-inline-item mr-3 dropdown">
                                <a href="#" class="dropdown-toggle" data-toggle="dropdown">Tính năng</a>
                                <div class="dropdown-menu">
                                    <a href="" class="dropdown-item">Chống vi khuẩn</a>
                                    <a href="" class="dropdown-item">Có nút</a>
                                    <a href="" class="dropdown-item">Bảo mật bổ sung</a>
                                </div>
                            </li>
                            <li class="list-inline-item mr-3"><a href="#">Màu sắc</a></li>
                            <li class="list-inline-item mr-3"><a href="#">Kích thước</a></li>
                            <li class="list-inline-item mr-3">
                                <div class="form-inline">
                                    <label class="mr-2">Giá</label>
                                    <input class="form-control form-control-sm" placeholder="Tối thiểu" type="number">
                                    <span class="px-2"> - </span>
                                    <input class="form-control form-control-sm" placeholder="Tối đa" type="number">
                                    <button type="submit" class="btn btn-sm btn-light ml-2">Ok</button>
                                </div>
                            </li>
                            <li class="list-inline-item mr-3">
                                <label class="custom-control mt-1 custom-checkbox">
                                    <input type="checkbox" class="custom-control-input">
                                    <div class="custom-control-label">
                                        Sẵn sàng giao hàng
                                    </div>
                                </label>
                            </li>
                        </ul>
                    </div> <!-- col.// -->
                </div> <!-- row.// -->
            </div> <!-- card-body .// -->
        </div> <!-- card.// -->
        <!-- ============================ FILTER TOP END.// ================================= -->

        <header class="mb-3">
            <div class="form-inline">
                <strong class="mr-md-auto">Tìm thấy @Model.Count() sản phẩm </strong>
                @*<select class="mr-2 form-control">
                    <option>Sản phẩm mới nhất</option>
                    <option>Xu hướng</option>
                    <option>Phổ biến nhất</option>
                    <option>Rẻ nhất</option>
                </select>*@
                @*<div class="btn-group">
                    <a href="@Url.Action("ListingListGrid", "Product")" class="btn btn-light active" data-toggle="tooltip" title="Danh sách">
                        <i class="fa fa-bars"></i>
                    </a>
                    <a href="@Url.Action("ListingListLarge", "Product")" class="btn btn-light" data-toggle="tooltip" title="Lưới">
                        <i class="fa fa-th"></i>
                    </a>
                </div>*@
            </div>
        </header><!-- sect-heading -->

        <div class="row">
            @foreach (var item in Model)
            {
                <div class="col-md-3">
                    <a href="@Url.Action("Detail", "Product", new { id = item.Id })">
                        <figure class="card card-product-grid">
                            <div class="img-wrap">
                                <span class="badge badge-danger"> MỚI </span>
                                <img src="~/Content/images/items/@Html.DisplayFor(modelItem => item.Image)">
                            </div> <!-- img-wrap.// -->
                            <figcaption class="info-wrap">
                                <a href="#" class="title mb-2"> @Html.DisplayFor(modelItem => item.Name)</a>
                                <div class="price-wrap">
                                    <span class="price">@Html.DisplayFor(modelItem => item.Price) VNĐ</span>
                                    <small class="text-muted">/mỗi sản phẩm</small>
                                </div> <!-- price-wrap.// -->

                            </figcaption>
                        </figure>
                    </a>

                </div> <!-- col.// -->
            }

        </div> <!-- row end.// -->

        <nav class="mb-4" aria-label="Phân trang">
            <ul class="pagination">
                <li class="page-item disabled"><a class="page-link" href="#">Trước</a></li>
                <li class="page-item active"><a class="page-link" href="#">1</a></li>
                <li class="page-item"><a class="page-link" href="#">2</a></li>
                <li class="page-item"><a class="page-link" href="#">3</a></li>
                <li class="page-item"><a class="page-link" href="#">4</a></li>
                <li class="page-item"><a class="page-link" href="#">5</a></li>
                <li class="page-item"><a class="page-link" href="#">Kế tiếp</a></li>
            </ul>
        </nav>

        <div class="box text-center">
            <p>Bạn có tìm thấy những gì bạn đang tìm kiếm không?</p>
            <a href="" class="btn btn-light">Có</a>
            <a href="" class="btn btn-light">Không</a>
        </div>

    </div> <!-- container .//  -->
</section>
<!-- ========================= SECTION CONTENT END// ========================= -->
<!-- ========================= SECTION SUBSCRIBE  ========================= -->
<section class="padding-y-lg bg-light border-top">
    <div class="container">

        <p class="pb-2 text-center">Cập nhật các xu hướng sản phẩm mới nhất và tin tức ngành hàng trực tiếp vào hộp thư của bạn</p>

        <div class="row justify-content-md-center">
            <div class="col-lg-4 col-sm-6">
                <form class="form-row">
                    <div class="col-8">
                        <input class="form-control" placeholder="Email của bạn" type="email">
                    </div> <!-- col.// -->
                    <div class="col-4">
                        <button type="submit" class="btn btn-block btn-warning"> <i class="fa fa-envelope"></i> Đăng ký </button>
                    </div> <!-- col.// -->
                </form>
                <small class="form-text">Chúng tôi sẽ không bao giờ chia sẻ địa chỉ email của bạn với bên thứ ba.</small>
            </div> <!-- col-md-6.// -->
        </div>

    </div>
</section>
<!-- ========================= SECTION SUBSCRIBE END// ========================= -->
