@using PagedList;
@using PagedList.Mvc;
@model PagedList.IPagedList<DangThanhTu_2122110051.Context.Banner>

@{
    ViewBag.Title = "Banner Index";
}

<p>
    @Html.ActionLink("Create New", "Create", null, new { @class = "btn btn-success btn-sm" })
</p>

@using (Html.BeginForm("Index", "Banner", FormMethod.Get))
{
    <p>
        Tìm kiếm theo tên Banner: @Html.TextBox("SearchString", ViewBag.CurrentFilter as string)
        <input type="submit" value="Tìm kiếm" class="btn btn-primary btn-sm" />
    </p>
}

<table class="table table-bordered">
    <tr>
        <th>@Html.DisplayNameFor(model => model.FirstOrDefault().Name)</th>
        <th>@Html.DisplayNameFor(model => model.FirstOrDefault().Image)</th>
        <th>@Html.DisplayNameFor(model => model.FirstOrDefault().Link)</th>
        <th>@Html.DisplayNameFor(model => model.FirstOrDefault().Position)</th>
        <th>@Html.DisplayNameFor(model => model.FirstOrDefault().Description)</th>
        <th>@Html.DisplayNameFor(model => model.FirstOrDefault().Status)</th>
        <th></th>
    </tr>

    @foreach (var item in Model)
    {
        <tr>
            <td>@Html.DisplayFor(modelItem => item.Name)</td>
            <td>
                <img src="~/Content/images/banners/@Html.DisplayFor(modelItem => item.Image)" alt="Banner Image" style="width:150px; height:auto;" />
            </td>
            <td>@Html.DisplayFor(modelItem => item.Link)</td>
            <td>@Html.DisplayFor(modelItem => item.Position)</td>
            <td>@Html.DisplayFor(modelItem => item.Description)</td>
            <td>@Html.DisplayFor(modelItem => item.Status)</td>
            <td>
                @Html.ActionLink("Edit", "Edit", new { id = item.Id }, new { @class = "btn btn-primary btn-sm" }) |
                @Html.ActionLink("Details", "Details", new { id = item.Id }, new { @class = "btn btn-info btn-sm" }) |
                @Html.ActionLink("Delete", "Delete", new { id = item.Id }, new { @class = "btn btn-danger btn-sm" })
            </td>
        </tr>
    }
</table>

<!-- Phân trang -->
<nav aria-label="Page navigation example">
    <ul class="pagination">
        <li class="page-item @(Model.HasPreviousPage ? "" : "disabled")">
            <a class="page-link" href="@Url.Action("Index", new { page = Model.PageNumber - 1, currentFilter = ViewBag.CurrentFilter })" aria-label="Previous">
                <span aria-hidden="true">&laquo;</span>
                <span class="sr-only">Previous</span>
            </a>
        </li>

        @for (int i = 1; i <= Model.PageCount; i++)
        {
            <li class="page-item @(i == Model.PageNumber ? "active" : "")">
                <a class="page-link" href="@Url.Action("Index", new { page = i, currentFilter = ViewBag.CurrentFilter })">@i</a>
            </li>
        }

        <li class="page-item @(Model.HasNextPage ? "" : "disabled")">
            <a class="page-link" href="@Url.Action("Index", new { page = Model.PageNumber + 1, currentFilter = ViewBag.CurrentFilter })" aria-label="Next">
                <span aria-hidden="true">&raquo;</span>
                <span class="sr-only">Next</span>
            </a>
        </li>
    </ul>
</nav>
