@*@model List<DangThanhTu_2122110051.Context.Product>*@
@model  DangThanhTu_2122110051.Models.HomeModel
<div class="container">
    <!-- ========================= SECTION MAIN  ========================= -->
    <section class="section-main padding-y">
        <main class="card">
            <div class="card-body">

                <div class="row">
                    <aside class="col-lg col-md-3 flex-lg-grow-0">
                        <h6>THỊ TRƯỜNG CỦA TÔI</h6>
                        <nav class="nav-home-aside">
                            <ul class="menu-category">
                                <li><a href="#">Thời trang và quần áo</a></li>
                                <li><a href="#">Ô tô và động cơ</a></li>
                                <li><a href="#">Làm vườn và nông nghiệp</a></li>
                                <li><a href="#">Điện tử và công nghệ</a></li>
                                <li><a href="#">Bao bì và in ấn</a></li>
                                <li><a href="#">Nhà cửa và bếp núc</a></li>
                                <li><a href="#">Hàng hóa kỹ thuật số</a></li>
                                <li class="has-submenu">
                                    <a href="#">Thêm mặt hàng</a>
                                    <ul class="submenu">
                                        <li><a href="#">Tên submenu</a></li>
                                        <li><a href="#">Submenu tuyệt vời</a></li>
                                        <li><a href="#">Menu khác</a></li>
                                        <li><a href="#">Một số khác</a></li>
                                    </ul>
                                </li>
                            </ul>
                        </nav>
                    </aside> <!-- col.// -->
                    <div class="col-md-9 col-xl-7 col-lg-7">

                        <!-- ================== THÀNH PHẦN SLIDER BOOTSTRAP ==================  -->
                        <div id="carousel1_indicator" class="slider-home-banner carousel slide" data-ride="carousel">
                            <ol class="carousel-indicators">
                                @for (var i = 0; i < Model.ListBanner.Count; i++)
                                {
                                    <li data-target="#carousel1_indicator" data-slide-to="@i" class="@(i == 0 ? "active" : "")"></li>
                                }
                            </ol>
                            <div class="carousel-inner">
                                @for (var i = 0; i < Model.ListBanner.Count; i++)
                                {
                                    var banner = Model.ListBanner[i];
                                    <div class="carousel-item @(i == 0 ? "active" : "")">
                                        <img src="~/Content/images/banners/@banner.Image" alt="Slide @i">
                                    </div>
                                }
                            </div>
                            <a class="carousel-control-prev" href="#carousel1_indicator" role="button" data-slide="prev">
                                <span class="carousel-control-prev-icon" aria-hidden="true"></span>
                                <span class="sr-only">Trước</span>
                            </a>
                            <a class="carousel-control-next" href="#carousel1_indicator" role="button" data-slide="next">
                                <span class="carousel-control-next-icon" aria-hidden="true"></span>
                                <span class="sr-only">Tiếp theo</span>
                            </a>
                        </div>

                        <!-- ================== THÀNH PHẦN SLIDER BOOTSTRAP KẾT THÚC.// ==================  .// -->

                    </div> <!-- col.// -->
                    <div class="col-md d-none d-lg-block flex-grow-1">
                        <aside class="special-home-right">
                            <h6 class="bg-blue text-center text-white mb-0 p-2">Danh mục phổ biến</h6>

                            @foreach (var category in Model.ListCategory.Where(c => c.Is_popular == 1).OrderByDescending(c => c.Id).Take(3))
                            {
                                <div class="card-banner border-bottom">
                                    <div class="py-3" style="width:80%">
                                        <h6 class="card-title">@category.Name</h6>
                                        <a href="@Url.Action("ProductByCategoryId", "Category", new { id = category.Id })" class="btn btn-secondary btn-sm"> Xem ngay </a>
                                    </div>
                                    <img src="~/Content/images/categories/@category.Image" height="80" class="img-bg">
                                </div>
                            }
                        </aside>
                    </div> <!-- col.// -->
                </div> <!-- row.// -->

            </div> <!-- card-body.// -->
        </main> <!-- card.// -->

    </section>

    <!-- ========================= SECTION MAIN END// ========================= -->
    <!-- =============== SECTION DEAL =============== -->
    <section class="padding-bottom">
        <div class="card card-deal">
            <div class="col-heading content-body">
                <header class="section-heading">
                    <h3 class="section-title">Ưu đãi và khuyến mãi</h3>
                </header><!-- sect-heading -->
                <div class="timer">
                    <div> <span class="num">04</span> <small>Ngày</small></div>
                    <div> <span class="num">12</span> <small>Giờ</small></div>
                    <div> <span class="num">58</span> <small>Phút</small></div>
                    <div> <span class="num">02</span> <small>Giây</small></div>
                </div>
            </div> <!-- col.// -->
            <div class="row no-gutters items-wrap">
                @foreach (var category in Model.ListCategory.OrderByDescending(c => c.Id).Take(5))
                {
                    <div class="col-md col-6">
                        <figure class="card-product-grid card-sm">
                            <a href="@Url.Action("ProductByCategoryId", "Category", new { id = category.Id })" class="img-wrap">
                                <img src="~/Content/images/categories/@category.Image">
                            </a>
                            <div class="text-wrap p-3">
                                <a href="@Url.Action("ProductByCategoryId", "Category", new { id = category.Id })" class="title">@category.Name</a>
                            </div>
                        </figure>
                    </div> <!-- col.// -->
                }

                <a class="dropdown-item text-center my-2" href="@Url.Action("Index", "Category")">Xem thêm</a>

            </div>
        </div>

    </section>

    <!-- =============== SECTION DEAL // END =============== -->
    <!-- =============== SECTION 1 =============== -->
    <section class="padding-bottom">
        <header class="section-heading heading-line">
            <h4 class="title-section text-uppercase">Quần áo</h4>
        </header>

        @foreach (var category in Model.ListCategory.Where(c => c.Is_popular == 1).Take(2))
        {
            <div class="card card-home-category py-3">
                <div class="row no-gutters">
                    <div class="col-md-3">

                        <div class="home-category-banner bg-light-orange">
                            <h5 class="title">@category.Name</h5>
                            <p>@category.Description</p>
                            <a href="@Url.Action("ProductByCategoryId", "Category", new { id = category.Id })" class="btn btn-outline-primary rounded-pill">Tìm nguồn ngay</a>
                            <img src="~/Content/images/categories/@category.Image" class="img-bg">
                        </div>

                    </div> <!-- col.// -->
                    <div class="col-md-9">
                        <ul class="row no-gutters bordered-cols">
                            @foreach (var product in category.Products.Take(8))
                            {
                                <li class="col-6 col-lg-3 col-md-4">
                                    <a href="@Url.Action("Detail", "Product", new { id = product.Id })" class="item">
                                        <div class="card-body">
                                            <h6 class="title">@product.Name</h6>
                                            <img class="img-sm float-right" src="~/Content/images/items/@product.Image">
                                            <p class="text-muted"><i class="fa fa-map-marker-alt"></i> @product.Brand.Name</p>
                                        </div>
                                    </a>
                                </li>
                            }
                        </ul>
                    </div> <!-- col.// -->
                </div> <!-- row.// -->
            </div> <!-- card.// -->
        }

    </section>
    <!-- =============== SECTION 1 END =============== -->
    <!-- =============== SECTION REQUEST =============== -->

    <section class="padding-bottom">

        <header class="section-heading heading-line">
            <h4 class="title-section text-uppercase">Yêu cầu báo giá</h4>
        </header>

        <div class="row">
            <div class="col-md-8">
                <div class="card-banner banner-quote overlay-gradient" style="background-image: url('~/Content/images/banners/banner9.jpg');">
                    <div class="card-img-overlay white">
                        <h3 class="card-title">Một cách dễ dàng để gửi yêu cầu đến nhà cung cấp</h3>
                        <p class="card-text" style="max-width: 400px">
                            Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod
                            tempor incididunt.
                        </p>
                        <a href="" class="btn btn-primary rounded-pill">Tìm hiểu thêm</a>
                    </div>
                </div>
            </div> <!-- col // -->
            <div class="col-md-4">

                <div class="card card-body">
                    <h4 class="title py-3">Một yêu cầu, nhiều báo giá</h4>
                    <form>
                        <div class="form-group">
                            <input class="form-control" name="" placeholder="Bạn đang tìm gì?" type="text">
                        </div>
                        <div class="form-group">
                            <div class="input-group">
                                <input class="form-control" placeholder="Số lượng" name="" type="text">

                                <select class="custom-select form-control">
                                    <option>Miếng</option>
                                    <option>Lít</option>
                                    <option>Tấn</option>
                                    <option>Gam</option>
                                </select>
                            </div>
                        </div>
                        <div class="form-group text-muted">
                            <p>Chọn loại mẫu:</p>
                            <label class="form-check form-check-inline">
                                <input class="form-check-input" type="checkbox" value="option1">
                                <span class="form-check-label">Yêu cầu giá</span>
                            </label>
                            <label class="form-check form-check-inline">
                                <input class="form-check-input" type="checkbox" value="option2">
                                <span class="form-check-label">Yêu cầu mẫu</span>
                            </label>
                        </div>
                        <div class="form-group">
                            <button class="btn btn-warning">Yêu cầu báo giá</button>
                        </div>
                    </form>
                </div>

            </div> <!-- col // -->
        </div> <!-- row // -->
    </section>


    <!-- =============== SECTION REQUEST .//END =============== -->
    <!-- =============== SECTION ITEMS =============== -->
    <section class="padding-bottom-sm">
        <header class="section-heading heading-line">
            <h4 class="title-section text-uppercase">Sản phẩm đề xuất</h4>
        </header>
        <div class="row row-sm">
            @foreach (var product in Model.ListProduct.Take(12))
            {
                <div class="col-xl-2 col-lg-3 col-md-4 col-6">
                    <div class="card card-sm card-product-grid">
                        <a href="@Url.Action("Detail", "Product", new { id = product.Id })" class="img-wrap">
                            <img src="~/Content/images/items/@product.Image" alt="@product.Name">
                        </a>
                        <figcaption class="info-wrap">
                            <a href="@Url.Action("Detail", "Product", new { id = product.Id })" class="title">
                                @(product.Name.Length > 20 ? product.Name.Substring(0, 20) + "..." : product.Name)
                            </a>
                            <div class="price mt-1">@product.Price.ToString("#,##0") VND</div>
                        </figcaption>
                    </div>
                </div>
            }

        </div>
        <a class="dropdown-item text-center" href="@Url.Action("Index", "Product")"> Xem thêm </a>
    </section>

    <!-- =============== SECTION ITEMS .//END =============== -->
    <!-- =============== SECTION SERVICES =============== -->
    <section class="padding-bottom">

        <header class="section-heading heading-line">
            <h4 class="title-section text-uppercase">Dịch vụ thương mại</h4>
        </header>

        <div class="row">
            <div class="col-md-3 col-sm-6">
                <article class="card card-post">
                    <img src="~/Content/images/posts/1.jpg" class="card-img-top">
                    <div class="card-body">
                        <h6 class="title">Đảm bảo giao dịch</h6>
                        <p class="small text-uppercase text-muted">Bảo vệ đơn hàng</p>
                    </div>
                </article> <!-- card.// -->
            </div> <!-- col.// -->
            <div class="col-md-3 col-sm-6">
                <article class="card card-post">
                    <img src="~/Content/images/posts/2.jpg" class="card-img-top">
                    <div class="card-body">
                        <h6 class="title">Thanh toán bất kỳ lúc nào</h6>
                        <p class="small text-uppercase text-muted">Giải pháp tài chính</p>
                    </div>
                </article> <!-- card.// -->
            </div> <!-- col.// -->
            <div class="col-md-3 col-sm-6">
                <article class="card card-post">
                    <img src="~/Content/images/posts/3.jpg" class="card-img-top">
                    <div class="card-body">
                        <h6 class="title">Giải pháp kiểm tra</h6>
                        <p class="small text-uppercase text-muted">Kiểm tra dễ dàng</p>
                    </div>
                </article> <!-- card.// -->
            </div> <!-- col.// -->
            <div class="col-md-3 col-sm-6">
                <article class="card card-post">
                    <img src="~/Content/images/posts/4.jpg" class="card-img-top">
                    <div class="card-body">
                        <h6 class="title">Vận chuyển biển và hàng không</h6>
                        <p class="small text-uppercase text-muted">Dịch vụ logistic</p>
                    </div>
                </article> <!-- card.// -->
            </div> <!-- col.// -->
        </div> <!-- row.// -->

    </section>

    <!-- =============== SECTION SERVICES .//END =============== -->
    <!-- =============== SECTION REGION =============== -->
    <section class="padding-bottom">

        <header class="section-heading heading-line">
            <h4 class="title-section text-uppercase">Chọn khu vực</h4>
        </header>

        <ul class="row mt-4">
            <li class="col-md col-6"><a href="#" class="icontext"> <img class="icon-flag-sm" src="~/Content/images/icons/flags/CN.png"> <span>Trung Quốc</span> </a></li>
            <li class="col-md col-6"><a href="#" class="icontext"> <img class="icon-flag-sm" src="~/Content/images/icons/flags/DE.png"> <span>Đức</span> </a></li>
            <li class="col-md col-6"><a href="#" class="icontext"> <img class="icon-flag-sm" src="~/Content/images/icons/flags/AU.png"> <span>Úc</span> </a></li>
            <li class="col-md col-6"><a href="#" class="icontext"> <img class="icon-flag-sm" src="~/Content/images/icons/flags/RU.png"> <span>Nga</span> </a></li>
            <li class="col-md col-6"><a href="#" class="icontext"> <img class="icon-flag-sm" src="~/Content/images/icons/flags/IN.png"> <span>Ấn Độ</span> </a></li>
            <li class="col-md col-6"><a href="#" class="icontext"> <img class="icon-flag-sm" src="~/Content/images/icons/flags/GB.png"> <span>Anh</span> </a></li>
            <li class="col-md col-6"><a href="#" class="icontext"> <img class="icon-flag-sm" src="~/Content/images/icons/flags/TR.png"> <span>Thổ Nhĩ Kỳ</span> </a></li>
            <li class="col-md col-6"><a href="#" class="icontext"> <img class="icon-flag-sm" src="~/Content/images/icons/flags/UZ.png"> <span>Uzbekistan</span> </a></li>
            <li class="col-md col-6"><a href="#" class="icontext"> <i class="mr-3 fa fa-ellipsis-h"></i> <span>Nhiều khu vực khác</span> </a></li>
        </ul>
    </section>
    <!-- =============== SECTION REGION .//END =============== -->

    <article class="my-4">
        <img src="~/Content/images/banners/ad-sm.png" class="w-100">
    </article>
</div>
<!-- container end.// -->
<!-- ========================= SECTION SUBSCRIBE  ========================= -->
<section class="section-subscribe padding-y-lg">
    <div class="container">

        <p class="pb-2 text-center text-white">Cập nhật xu hướng sản phẩm mới nhất và tin tức ngành trực tiếp vào hộp thư của bạn</p>

        <div class="row justify-content-md-center">
            <div class="col-lg-5 col-md-6">
                <form class="form-row">
                    <div class="col-md-8 col-7">
                        <input class="form-control border-0" placeholder="Email của bạn" type="email">
                    </div> <!-- col.// -->
                    <div class="col-md-4 col-5">
                        <button type="submit" class="btn btn-block btn-warning"> <i class="fa fa-envelope"></i> Đăng ký </button>
                    </div> <!-- col.// -->
                </form>
                <small class="form-text text-white-50">Chúng tôi sẽ không bao giờ chia sẻ địa chỉ email của bạn với bên thứ ba.</small>
            </div> <!-- col-md-6.// -->
        </div>

    </div>
</section>

<!-- ========================= SECTION SUBSCRIBE END// ========================= -->
